/* pc */


@import './reset.css';




#body-wrap > #photo{
    /* border: 2px solid red; */
    position: relative;
    float: left;
    width: 100%;
    /* height: 200px; */
    padding-top: 50px;
    /* margin-bottom: 40px; */
}
#body-wrap > #photo>#back-circle{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    
    /* left: 200px; */
}
#body-wrap > #photo >img{
    position: absolute;
    width: 190px;
    z-index: 999;
    top: 62px;
    left: 8px;
    opacity: 0.85;
}

/* 왼쪽 텍스트 */

#body-wrap >.highlight{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    float: left;
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 50px;
    font-weight: 500;
    min-width:250px;
    line-height: 40px;
    /* border: 2px solid green; */
    margin-bottom: 100px;
}
#body-wrap >.highlight >#hello{

    font-size: 60px;
    font-weight: bolder;
}
#body-wrap .highlight > #name {
    color: #6eccc0;
    font-size: 30px;
    font-weight: bolder;
}

/* 프로필 */
#profile {
    display: block;
    float: left;
    width: 450px;
    text-align: left;
    padding: 30px;
    padding-left: 60px;
    box-sizing: border-box;
    line-height: 40px;
    font-weight: 300;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#profile >li >span{
    color: #6eccc0;
    font-weight: 800;
}
#profile >li >span::after{
    content: "";
    margin-left: 5px;
    margin-right: 5px;
    width: 2px;
    height: 11px;
    display: inline-block;
    background-color: #6eccc0;  
}


/* TEXT */
#intro{
    /* display: block; */
}
.text >p{margin-bottom: 50px;line-height: 30px;}
.text> h1{
    display: inline-block;
    min-width: 400px;
    margin-bottom: 20px;
}
